#!/bin/bash

#Change default passwords
curl -XPUT -u "{{ elk_default_user }}:{{ elk_default_pass }}" '{{ elasticsearch_host }}:{{ elasticsearch_port }}/_xpack/security/user/elastic/_password' -H "Content-Type: application/json" -d '{
  "password" : "{{ elk_pass }}"
}'

curl -XPUT -u "{{ elk_default_user }}:{{ elk_default_pass }}" '{{ elasticsearch_host }}:{{ elasticsearch_port }}/_xpack/security/user/kibana/_password' -H "Content-Type: application/json" -d '{
  "password" : "{{ elk_pass }}"
}'

curl -XPUT -u "{{ elk_default_user }}:{{ elk_default_pass }}" '{{ elasticsearch_host }}:{{ elasticsearch_port }}/_xpack/security/user/logstash_system/_password' -H "Content-Type: application/json" -d '{
  "password" : "{{ elk_pass }}"
}'


# Custom users implementation

{% for user in elk_users %}
curl -XPOST -u "{{ elk_default_user }}:{{ elk_default_pass }}" '{{ elasticsearch_host }}:{{ elasticsearch_port }}/_xpack/security/role/admin' -H "Content-Type: application/json" -d '{
  "indices" : [
    {
      "names" : [ "*" ],
      "privileges" : [ "all" ]
    },
    {
      "names" : [ ".kibana*" ],
      "privileges" : [ "manage", "read", "index" ]
    }
  ]
}'

curl -XPOST -u "{{ elk_default_user }}:{{ elk_default_pass }}" '{{ elasticsearch_host }}:{{ elasticsearch_port }}/_xpack/security/user/{{ user.name }}' -H "Content-Type: application/json" -d '{
  "password" : "{{ user.pass }}",
  "full_name" : "{{ user.full_name }}",,
  "roles" : [ "admin" ]
}'
{% endfor %}