#!/bin/bash
{% for user in kibana_users %}
curl -XPOST -u {{ user.name }} '{{ elasticsearch_host }}:{{ elasticsearch_port }}/_xpack/security/role/events_admin' -H "Content-Type: application/json" -d '{
  "indices" : [
    {
      "names" : [ "*" ],
      "privileges" : [ "all" ]
    },
    {
      "names" : [ ".*" ],
      "privileges" : [ "manage", "read", "index" ]
    }
  ]
}'
curl -XPUT '{{ elasticsearch_host }}:{{ elasticsearch_port }}/_xpack/security/user/{{ user.name }}/_password?pretty' -H 'Content-Type: application/json' -d'
{
  "password" : "{{ user.pass }}"
}
'
{% endfor %}
